<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <!-- <div>
        <h2>{{ projectd.title }}</h2>
        <p> {{ projectd.description|safe }} </p>
        <img src="{{ projectd.image.url }}" width="100" height="100" > <br>
        <p> {{ projectd.url }}</p>
        <a href="{{ projectd.url }}">Project link</a> <br>
        <a href="{% url 'projectd' projectd.id %}">Leer más</a>
    </div> -->
    {% for pk in projects %}
    <div>
        <h2>{{ pk.title }}</h2>
        <img src="{{ pk.image.url }}" width="100" height="100" > <br>
        <a href="{% url 'projectd' pk.id %}">Read more</a>
    </div>
    {% endfor %}
    <a href="{% url 'index' %}">Resume</a>
</body>
</html>