{% extends 'base.html' %}
{% load static %}
{% block name %} 
<div class="header name">
    <h3>{{ date.name }}</h3>
</div>
{% endblock %}
{% block content %}
<section class="description">
    <div class="caja">
        <img src="{{ date.foto.url }}" class="img">
        <h4>{{ date.profession }}</h4>
        <p class="texto">{{ date.about }}</p>
        <nav class="link">
            <ul class="link-nav">
                <li class="link-nav__item"><a href="{{ date.file.url }}" download>Download CV</a></li>
                <li class="link-nav__item"><a href="{% url 'projects' %}">Projects</a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <h1>Resume</h1>
    <div>
        <h2>{{ date.name }}</h2>
        <img src="{{ date.foto.url }}" width="100" height="100"><br>
        <p>{{ date.profession }}</p>
        <p>{{ date.about }}</p>
        <a href="{{ date.file.url }}" download>CV</a>
    </div>
    <a href="{% url 'projects' %}">Projects</a>
</body>
</html> -->